<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Detector</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    <script src="app.js"></script>
  </head>
  <body>
    <form action="/" method="POST">
    <div class="heading">
      <h1>Iris Detector</h1>
    </div>
    <div class="buttons">
      <a type="button" href="/registration"  class="btn btn1"><b>Register</b></a>
      <a type="button" href="/medical_history"  class="btn btn2"><b>Verify</b></a>
    </div>
  </form>
  </body>
</html>
