<style>
        @import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
        body{
            text-align:center;
            background-color:rgb(87, 87, 87);
        }
        .rwd-table {
        margin: auto;
        min-width: 300px;
        }
        .rwd-table tr {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        }
        .rwd-table th {
        display: none;
        }
        .rwd-table td {
        display: block;
        }
        .rwd-table td:first-child {
        padding-top: .5em;
        }
        .rwd-table td:last-child {
        padding-bottom: .5em;
        }
        .rwd-table td:before {
        content: attr(data-th) ": ";
        font-weight: bold;
        width: 6.5em;
        display: inline-block;
        }
        @media (min-width: 480px) {
        .rwd-table td:before {
            display: none;
        }
        }
        .rwd-table th, .rwd-table td {
        text-align: left;
        }
        @media (min-width: 480px) {
        .rwd-table th, .rwd-table td {
            display: table-cell;
            padding: .25em .5em;
        }
        .rwd-table th:first-child, .rwd-table td:first-child {
            padding-left: 0;
        }
        .rwd-table th:last-child, .rwd-table td:last-child {
            padding-right: 0;
        }
        }

        h1 {
        # font-weight: normal;
        # letter-spacing: -1px;
        # color: #34495E;
        color:white;
        }

        .rwd-table {
        background: #34495E;
        color: #fff;
        border-radius: .4em;
        overflow: hidden;
        }
        .rwd-table tr {
        border-color: #46637f;
        }
        .rwd-table th, .rwd-table td {
        margin: .5em 1em;
        }
        @media (min-width: 480px) {
        .rwd-table th, .rwd-table td {
            padding: 1em !important;
        }
        }
        .rwd-table th, .rwd-table td:before {
        color: #dd5;
        }
        </style>
        <script>
        window.console = window.console || function(t) {};
        </script>
        <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
        document.write("<h1>Your Medical History</h1>")
        </script><table class='rwd-table'border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Attributes</th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>P_id</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>name</td>
      <td>Abhishek Kumar Singh</td>
    </tr>
    <tr>
      <th>2</th>
      <td>F_name</td>
      <td>Kartik Kumar Singh</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Address</td>
      <td>Koni, Shivam Complex, near ITI gate</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Adhaar</td>
      <td>5456132315</td>
    </tr>
    <tr>
      <th>5</th>
      <td>mob</td>
      <td>465465151</td>
    </tr>
    <tr>
      <th>6</th>
      <td>alt_mob</td>
      <td>5461232132</td>
    </tr>
    <tr>
      <th>7</th>
      <td>email</td>
      <td>abhi24680@outlook.com</td>
    </tr>
    <tr>
      <th>8</th>
      <td>DOB</td>
      <td>2023-04-12</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Gender</td>
      <td>Male</td>
    </tr>
    <tr>
      <th>10</th>
      <td>ECG</td>
      <td>Normal</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Blood_Pressure</td>
      <td>35</td>
    </tr>
    <tr>
      <th>12</th>
      <td>weight</td>
      <td>512</td>
    </tr>
    <tr>
      <th>13</th>
      <td>pulse_rate</td>
      <td>31</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Oxygen_Level</td>
      <td>99</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Haemoglobin</td>
      <td>1321</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Platelets</td>
      <td>512</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Total_WBC_count</td>
      <td>62123</td>
    </tr>
    <tr>
      <th>18</th>
      <td>RBC_Count</td>
      <td>213</td>
    </tr>
    <tr>
      <th>19</th>
      <td>HBSAG_Rapid_Card</td>
      <td>Reactive</td>
    </tr>
    <tr>
      <th>20</th>
      <td>HCV_Rapid_Card</td>
      <td>Reactive</td>
    </tr>
    <tr>
      <th>21</th>
      <td>HIV_I_and_HIV_II_Rapid_Card</td>
      <td>Reactive</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Random_Blood_Sugar</td>
      <td>32</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Blood_Urea</td>
      <td>2132</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Serum_Creatinne</td>
      <td>1232</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Albumin</td>
      <td>Present</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Sugar</td>
      <td>Present</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Ketone</td>
      <td>54</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Liver</td>
      <td>Normal</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Spleen</td>
      <td>Abnormal</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Pancreas</td>
      <td>Normal</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Kidneys</td>
      <td>Normal</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Bacteria</td>
      <td>Present</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Cast</td>
      <td>Absent</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Crystal</td>
      <td>Present</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Puscells</td>
      <td>5123</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Epithelialcells</td>
      <td>622</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Blood_Group</td>
      <td>B+</td>
    </tr>
  </tbody>
</table>