body{
    background-color: rgb(252, 212, 171);
    text-align: center;
}

.container , .container2 {
    /* border: 2px solid white; */
    padding: 60px;
    margin: auto;
    width: 500px;
    height: 80%;
    /* background-color: rgb(128, 128, 128); */
    display: inline-block;
    padding-left: 120px;
    padding-right: 120px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
  }

  .button{
    text-align: center;
  }

  .gender{
    display: block;
    text-align: left;

  }

  button {
    padding: 8px;
    margin-right: 5px;
    margin-top: 32px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    display: block;
    margin-left: 47.5%;
  }

.head{
    text-align: center;
}

input {
    text-align: center;
    padding: 5px;
    margin: 8px auto;
    display: block;
    width: 350px;
    font-weight: bolder;
    font-style: italic;
    font-size: small;
    border-radius: 5px;
    /* margin-left: 10px; */
}
.bp, .diabeties {
  border: 1px dotted black;
  border-radius: 20px;
}